
body {
  font-family: Arial, sans-serif;
  background: url(https://www.xmple.com/wallpaper/grey-gradient-linear-brown-7680x4320-c2-bc8f8f-778899-a-15-f-14.svg) no-repeat;
  background-size: cover;
  height: 100vh;
}

p {
  font-size:18px;
 padding:30px 50px;
background-color: #FAA0A0;
}
